#result1 {
    width: 175px;
    height:50px ;
    background-color:plum;
    color:black;
    margin-left:45%;
}
#btn1 {

margin-left:45%;
}
#intxt1 {
    margin-left:45%;
    background-color: cyan;
}
#result2{
    width: 175px;
    height:50px ;
    background-color:plum;
    color:black;
    margin-left:45%;
}
#btn2 {

margin-left:45%;
}
#intxt2{
    margin-left:45%;
    background-color: cyan;
}